<a href="https://colab.research.google.com/github/shunkashu10/my-first-web-app/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Google Driveと接続を行います。これを行うことで、Driveにあるデータにアクセスできるようになります。
# 下記セルを実行すると、Googleアカウントのログインを求められますのでログインしてください。
from google.colab import drive
drive.mount('/content/drive')

import os
# 作業フォルダへの移動を行います。
# もしアップロードした場所が異なる場合は作業場所を変更してください。
os.chdir('/content/drive/MyDrive/DA_WB/2章/data')

# Google DriveのMyDrive直下の内容を表示して、正しいパスを確認してください。
# print("\n--- Google Drive MyDrive Contents ---")
# !ls -F '/content/drive/MyDrive/'
# print("-------------------------------------")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd
df_sales_2021 = pd.read_csv('売上テーブル_2021.csv', encoding= 'SJIS')
df_sales_2021.head()

        売上ID       顧客ID       契約ID       売上日       売上
0  S-1000072  C-1000222  N-1002716  2021/1/1   6000.0
1  S-1000073  C-1000458  N-1000683  2021/1/1  50000.0
2  S-1000074  C-1000599  N-1001044  2021/1/1  10000.0
3  S-1000075  C-1000599  N-1001042  2021/1/1  10000.0
4  S-1000076  C-1000599  N-1001041  2021/1/1  10000.0

In [12]:
df_sales_2022 = pd.read_csv('売上テーブル_2022.csv', encoding='SJIS')
df_sales_2022.head()

        売上ID       顧客ID       契約ID       売上日     売上
0  S-1125052  C-1000892  N-1001965  2022/1/1  29000
1  S-1125053  C-1001352  N-1003792  2022/1/1  10000
2  S-1125054  C-1000547  N-1000944  2022/1/1  30000
3  S-1125055  C-1000072  N-1000075  2022/1/1  10000
4  S-1125056  C-1000222  N-1000275  2022/1/1  50000

In [14]:
df_customer = pd.read_csv('顧客テーブル.csv', encoding='SJIS')
df_customer.head()

        顧客ID   顧客区分         顧客名    地域 都道府県 市区町村      初回契約日    社員ID  顧客満足度
0  C-1000007  企業規模小    株式会社鈴木工業  関東地方  東京都  台東区   2015/1/9  101782      3
1  C-1000008    その他    株式会社中村工業    四国  徳島県  徳島市  2015/1/15  100726      3
2  C-1000009  企業規模中  大和屋根工事合同会社  関西地方  三重県   津市  2015/1/19  101305      2
3  C-1000010  企業規模大     株式会社ユタカ  関東地方  千葉県  松戸市  2015/1/19  107576      5
4  C-1000011  企業規模中    合資会社橋本商店  関東地方  東京都  大田区  2015/1/21  103152      1

In [15]:
df_sales = pd.concat([df_sales_2021, df_sales_2022], ignore_index=True)
df_sales.head()

        売上ID       顧客ID       契約ID       売上日       売上
0  S-1000072  C-1000222  N-1002716  2021/1/1   6000.0
1  S-1000073  C-1000458  N-1000683  2021/1/1  50000.0
2  S-1000074  C-1000599  N-1001044  2021/1/1  10000.0
3  S-1000075  C-1000599  N-1001042  2021/1/1  10000.0
4  S-1000076  C-1000599  N-1001041  2021/1/1  10000.0

In [16]:
df_sales.tall()

AttributeError: 'DataFrame' object has no attribute 'tall'

In [17]:
df_sales.tail

<bound method NDFrame.tail of             売上ID       顧客ID       契約ID         売上日       売上
0      S-1000072  C-1000222  N-1002716    2021/1/1   6000.0
1      S-1000073  C-1000458  N-1000683    2021/1/1  50000.0
2      S-1000074  C-1000599  N-1001044    2021/1/1  10000.0
3      S-1000075  C-1000599  N-1001042    2021/1/1  10000.0
4      S-1000076  C-1000599  N-1001041    2021/1/1  10000.0
...          ...        ...        ...         ...      ...
75440  S-1177220  C-1001260  N-1004684  2022/12/30   9000.0
75441  S-1177223  C-1000315  N-1004170  2022/12/30  21000.0
75442  S-1177224  C-1000094  N-1004169  2022/12/30  15000.0
75443  S-1177234  C-1001645  N-1004605  2022/12/30  13000.0
75444  S-1177235  C-1001714  N-1004814  2022/12/31  50000.0

[75445 rows x 5 columns]>

In [18]:
df_sales.tail()

            売上ID       顧客ID       契約ID         売上日       売上
75440  S-1177220  C-1001260  N-1004684  2022/12/30   9000.0
75441  S-1177223  C-1000315  N-1004170  2022/12/30  21000.0
75442  S-1177224  C-1000094  N-1004169  2022/12/30  15000.0
75443  S-1177234  C-1001645  N-1004605  2022/12/30  13000.0
75444  S-1177235  C-1001714  N-1004814  2022/12/31  50000.0

In [19]:
print(len(df_sales_2021))
print(len(df_sales_2022))
print(len(df_sales))

38895
36550
75445

In [20]:
df_sales_customer = pd.merge(df_sales, df_customer, on='顧客ID', how='left')
df_sales_customer.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
0,S-1000072,C-1000222,N-1002716,2021/1/1,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
1,S-1000073,C-1000458,N-1000683,2021/1/1,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0
2,S-1000074,C-1000599,N-1001044,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
3,S-1000075,C-1000599,N-1001042,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
4,S-1000076,C-1000599,N-1001041,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0

In [21]:
print(len(df_sales))
print(len(df_sales_customer))

75445
75445